body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: url("bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
    backdrop-filter: blur(2px);
}

/* SIDEBAR */
.sidebar {
    width: 320px;
    background: rgba(20, 0, 0, 0.7);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pfp-box img {
    width: 260px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.name {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

/* BUTTONS */
.tab-btn {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    background: #9e1b22;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.tab-btn:hover {
    background: #c0262e;
}

/* RIGHT CONTENT */
.content {
    flex: 1;
    padding: 50px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.4);
}

.tab-content {
    display: none;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 25px;
    font-size: 26px;
}

p {
    font-size: 18px;
    max-width: 900px;
    line-height: 1.6;
}
