body, html {
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    overflow: hidden;
    background-color: #000;
    display: flex; justify-content: center; align-items: center;
}

#overlay { position: absolute; z-index: 1000; }

#startBtn {
    padding: 20px 45px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid #ff0000; 
    background-color: #a020f0; 
    color: #ffffff;            
    
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
    text-shadow: 0 0 5px #fff;
    transition: 0.3s;
}

#startBtn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000;
}

.hidden { display: none !important; }

#partyArea {
    width: 100vw; height: 100vh;
    display: flex; justify-content: center; align-items: center;
    position: relative;
}

.inner-card {
    position: relative;
    width: 85%; height: 85%;
    border-radius: 30px;
    display: flex; justify-content: center; align-items: center;
    z-index: 5;
    transition: transform 0.8s ease-out;
    transform: scale(4); 
}

.zoomed-out .inner-card { transform: scale(1); }

#main-ditto { width: 200px; image-rendering: pixelated; position: relative; z-index: 110; }

#ghostContainer {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 100; 
    pointer-events: none;
    overflow: hidden;
}

.ghost-ditto {
    position: absolute;
    width: 120px;
    opacity: 0.3;
    image-rendering: pixelated;
}

.slide-right { animation: moveRight 3s linear forwards; }
.slide-left { animation: moveLeft 3s linear forwards; }

@keyframes moveRight { from { left: -150px; } to { left: 110vw; } }
@keyframes moveLeft { from { right: -150px; } to { right: 110vw; } }
